<!-- templates/home.html -->
{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
{% for article in latest_articles %}
<div class="card">
	<div class="card-header">
		<a href="{% url 'article_detail' article.id %}" class="font-weight-bold">{{ article.title }}</a> &middot;
		<span class="text-muted">by {{ user_data.first_name }} {{ user_data.last_name }} |
		{{ article.date }}</span>
	</div>
	<div class="card-body">
		<p>{{ article.body }}</p>
	</div>
	<div class="card-footer">
		{% for comment in article.comment_set.all|slice:":3" %}  <!-- https://docs.djangoproject.com/en/4.1/ref/templates/builtins/#slice -->
			<p>
			<span class="font-weight-bold">
				{{ comment.get_user }} &middot;
			</span>
			{{ comment }}
			</p>
		{% endfor %}
	</div>
</div>
<br />
{% endfor %}
{% endblock content %}
